.main-header {
  border-bottom: 1px solid rgb(189, 189, 189);
}

.header {
  width: 1170px;
  height: 38px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.header-left-items h1 {
  font-size: 28px;
}

.header-left-items {
  width: 675px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-items {
  display: flex;
  gap: 50px;
  list-style: none;
}

.header-items li {
  box-sizing: border-box;
  border: 1px solid transparent;
}

.header-items li:hover {
  cursor: pointer;
  border-bottom-color: #000;
}

.header-right-items {
  position: relative;
  display: flex;
  gap: 25px;
  align-items: center;
}

.search-input {
  width: 243px;
  height: 38px;
  background-color: rgb(238, 238, 238);
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 15px;
}

.search-icon {
  position: absolute;
  right: 110px;
}

.fav-icon {
  cursor: pointer;
}

.cart-icon {
  cursor: pointer;
}
