<div class="category-banner-section">
  <ul class="clothing-sections">
    <li id="dropdown-item">
      Woman's Fashion
      <svg
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="dropdown-icon"
      >
        <path
          d="M12.95 11.636L8 6.68597L9.414 5.27197L15.778 11.636L9.414 18L8 16.586L12.95 11.636Z"
          fill="black"
        />
      </svg>
    </li>
    <li id="dropdown-item">
      Men's Fashion
      <svg
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="dropdown-icon"
      >
        <path
          d="M12.95 11.636L8 6.68597L9.414 5.27197L15.778 11.636L9.414 18L8 16.586L12.95 11.636Z"
          fill="black"
        />
      </svg>
    </li>
    <li>Electronics</li>
    <li>Home & Lifestyle</li>
    <li>Medicine</li>
    <li>Sports & Outdoor</li>
    <li>Baby's & Toys</li>
    <li>Groceries & Pets</li>
    <li>Health & Beauty</li>
  </ul>

  <img
    src="../../../assets/images/iphone-banner.png"
    alt="iphone banner"
    class="iphone-banner"
  />
</div>
