.category-banner-section {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.clothing-sections {
  width: 217px;
  height: 344px;
  list-style: none;
  border-right: 1px solid rgb(189, 189, 189);
  padding-top: 30px;
}

.clothing-sections li {
  width: fit-content;
  margin: 15px 0;
  cursor: pointer;
}

#dropdown-item {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-icon {
  cursor: pointer;
}

.iphone-banner {
  width: 892px;
  height: 344px;
  padding-top: 40px;
}

.flash-sales-section {
  position: relative;
  margin-top: 125px;
  border-bottom: 1px solid rgb(189, 189, 189);
  margin-bottom: 100px;
}

.sales-title {
  display: flex;
  gap: 20px;
  align-items: center;
}

.sales-title p {
  color: #db4444;
  font-weight: 600;
  font-size: 18px;
}

.sales-title-box h2 {
  font-size: 36px;
  letter-spacing: 3px;
  margin-top: 25px;
}

.slider-container {
  margin-top: 50px;
  overflow: hidden;
  width: 100%;
}

.sales-items-box {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 350px;
  margin-right: 25px;
  flex: none;
}

.product-box p {
  padding: 3px 0;
}

.product-image {
  width: 270px;
  height: 200px;
  object-fit: inherit;
}

.product-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: bold;
}

.product-price-box {
  display: flex;
  gap: 10px;
}

.product-price {
  color: #db4444;
  font-weight: 500;
}

.product-before-sale-price {
  text-decoration: line-through;
  color: #868686;
}

.slider-btn {
  width: 46px;
  height: 46px;
  position: absolute;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: #f5f5f5;
  color: #000;
  border: none;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

.prev {
  top: 50px;
  right: 100px;
}

.next {
  top: 50px;
  right: 50px;
}

.product-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.fav-icon {
  cursor: pointer;
}

.view-product {
  cursor: pointer;
}
